mixin button(options)
    -
        let btnClass = "btn";

        const {
            title,
            isDisabled=false,
            isLight=false,
            isText=false,
            withArrow=false,
        } = options;

        if (isDisabled)
            btnClass += " btn_disabled";

        if (isLight)
            btnClass+= " btn_light";

        if (isText)
            btnClass+= " btn_text";

        if (withArrow) {
            btnClass+= " btn_with-arrow"; 
        }


    button(class=btnClass)
        span(class='btnText')=title
        -if (withArrow)
            span.arrow




    
